# Ignore the virtual environment folder
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model and vectorizer files (optional, if you want to exclude them)
*.pkl

# Ignore log and system files
*.log
.DS_Store

# Ignore Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Ignore environment files
.env
*.env
